.navbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.link {
  margin-right: 15px;
  text-decoration: none;
  color: #0070f3;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: red;
  font-weight: bold;
}
